<div class="container">
    <div class="section row presentation">
        <div class="col-md-6">
            <h3 class="headline headline--beta">Quer compartilhar com a 
            comunidade PHP Com Rapadura? Queremos ver suas ideias!</h3>
            <p>
                Estamos felizes em anunciar o {{ site.title }} :-). Através de
                palestras que visam a Segurança e a Fábrica de Software nos
                desenvolvimentos PHP, o evento também possui o objetivo de
                ampliar a discussão sobre desenvolvimento PHP, influenciando
                os desenvolvedores e empresas a criar aplicações mais seguras,
                e com maior produtividade.
            </p>
        </div>
        <div class="col-md-6">
            <h3 class="headline headline--beta">Package Palestrante</h3>
            <p>
                Sabemos que palestrantes são a chave do sucesso de um evento e 
                esperamos que você submeta suas melhores ideias dentro dos temas
                do {{ site.title }}. Para agradecer seus esforços e sua vontade de 
                compartilhar com a comunidade, seremos felizes em oferecer esse
                package para os palestrantes selecionados:  

                <p><a href="{{ url('speaker_package') }}">Confira o Package Palestrante</a></p>
            </p>
        </div>
    </div>
</div>

<section class="section section--primary">
    <div class="container">
        <h2 class="headline headline--beta headline--centered">A diversidade é importante!</h2>
        <p>
            O {{ site.title }} está empenhada em criar uma conferência accessível
            e aberta a todos. Nós queremos mostrar os talentos
            disponíveis no Céara. Em associação com a comunidade, selecionaremos
            palestrantes locais com o intuito de fortalecer e reconhecer esses
            profissionais da comunidade PHP Com Rapadura.
        </p>
        <p>
            Estamos também empenhados em garantir que o evento seja um lugar
            onde idéias são trocadas, velhos amigos se reúnam, novos amigos se
            encontram e <strong>assédio não é tolerado</strong>. Esperamos que
            os palestrantes, participantes e representantes de patrocinadores
            sejam profissionais e respeitosos uns com os outros. Reservamo-nos o
            direito de remover, sem reembolso, QUALQUER participante
            (palestrante ou não) que não adira a esta política.
        </p>
    </div>
</section>
