{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2 class="headline--beta">Call for Papers - Temas do evento</h2>
    <p>
        O {{ site.title }} é um evento para Fábrica de software e Segurança nos
        desenvolvimentos PHP. Portanto, não se limita a apenas palestras
        relacionadas ao PHP. Existe uma ampla gama de tópicos dentro desses temas
        e cobrindo o ecosistema do desenvolvimento PHP. Incentivamos você a
        "pensar fora da caixa" para criar seus próprios tópicos exclusivos e não
        somente respeitar os da lista abaixo.
    </p>
    <p>
        Algumas sugestões nos temas do evento:
    </p>
    <ul>
        <li>Boas práticas de desenvolvimento</li>
        <li>Design patterns</li>
        <li>Segurança Web / PHP</li>
        <li>Boas práticas de segurança</li>
        <li>Ferramentas de segurança</li>
        <li>Testing (unit, functional, etc.)</li>
        <li>Version control</li>
        <li>User Experiences</li>
        <li>Construindo APIs (REST, SOAP, whatever)</li>
        <li>Continuous Integration</li>
        <li>Continuous Deployment</li>
        <li>Framework-related topics</li>
        <li>Professional development</li>
    </ul>
</div>
{% endblock %}

