{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h4 class="headline--alpha">Sobre o evento</h4>
    <p>
        Providenciaremos um projetor, um microfone e
        uma tela para realizar a sua apresentação. Aconselhemos a você levar
        quaisquer equipamentos / adaptadores que venha a precisar para conectar 
        o seu computador ao projetore.<br/>
        Também, sugerimos que você reduza sua dependência à Internet pois
        poderia ter problema de conexão.
    </p>
    <p>
        Quando o Call for Papers for encerrado, escolheremos 6 palestras em 
        associação com a comunidade PHP Com Rapadura. Palestrantes escolhidos 
        serão obrigatoriamente locais. Palestrantes serão notificados quando o
        processo de seleção for concluído. 
    </p>
    <h4 class="headline--alpha">Package Palestrante</h4>
    <p>
        Os palestrantes selecionados receberão:
    </p>
    <ul>
        <li>Entrada gratuita para o evento</li>
        <li>Uma cortesia para oferecer a um(a) amigo(a) :-)</li>
        <li>Uma camiseta Palestrante</li>
        <li>Stickers</li>
        <li>E com certeza pagaremos uma bebida depois do evento ;-)</li>
    </ul>
    <p>
        O {{ site.title }} visa ir em todos os estados das comunidades parceiras
        do Darkmira Tour. Por isso, somente escolheremos palestrantes locais. 
        Você não mora no Céara? Fala com sua comunidade para o Darkmira Tour 
        organizar um Darkmira Tour Community lá!
    </p>
    <h4 class="headline--alpha">Dicas para submissões</h4>
    <p>
        Encorajamos vocês a enviar mais de uma palestra. 
        Quanto mais submissões você faz, mais opções nos dará
        para escolher você. Tenha certeza que o título e a descrição da 
        sua palestra definam corretamente o que você quer abordar nela
        e o que você espera que as pessoas irão aprender.
    </p>
</div>
{% endblock %}
